
.islCamera-container{
  background-image: url('../images/background.jpg');
  background-size: cover;
  height:100vh;
}
.row1{
    padding: 1rem;
}
.left-side {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    background-color: #ccc;
    justify-content: center;
    align-items: center;
    background: #8408a6;
    background: -webkit-linear-gradient(90deg, #8408a6 0%, #be5b55 100%);
    background: linear-gradient(90deg, #8408a6 0%, #be5b55 100%);
    border-radius: 1rem;
  }
  
  .right-side {
    width: 100%;
    height: 100%;
    background-color: #eee;
    background: rgba(252, 0, 0, 0.5);
    background: -webkit-linear-gradient(90deg, rgba(252, 0, 0, 0.5) 0%, #fc8800 100%);
    background: linear-gradient(90deg, rgba(252, 0, 0, 0.5) 0%, #fc8800 100%);
    border-radius: 1rem;
  }

  .canvas{
    border-style: solid;
    background-color: rgba(128,128,128, 0.5) ;
    border-radius: 1rem;
    border-width: 3px;
  }
  
  
  .images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .image img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  
  .label {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .predicted-text {
    width: 80%;
    height: 80%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .button1{
    padding: 10px;
    width: 7rem;
  }

  .button2{
    padding: 10px;
    width: 7rem;
  }

  .button3{
    padding: 10px;
    width: 7rem;
  }
  .cam-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .predicted{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }